* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #e5e5e5 !important;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.imageLogo1 {
  border-radius: 0px;
  position: absolute;
  width: 1852.96px;
  height: 502.25px;
  top: 12%;
  border: none;
  transform: rotate(-15deg);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.formContainer {
  background-color: white;
  border-radius: 15px;
  padding: 40px 91px 40px 91px;
  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  z-index: 55;
}

.headingText {
  font-weight: 500;
  color: #545454;
}

.subheadingText {
  font-size: 14px;
}

label {
  display: block !important;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #545454;
}
input {
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 6px 12px;
  width: 100%;
}
input:focus {
  outline: none;
}

input::placeholder {
  font-size: 13px;
  font-weight: 400;

  color: #a0a0a0;
}

select {
  padding: 6px 14px;
  width: 100%;
  color: #545454;
  border-radius: 6px;
  border: 1px solid #ced4da;
  font-weight: 400;
  font-size: 14px !important;
}

option {
  font-size: 13px;
}
.getStartedButton {
  background-color: #3766e8;
  padding: 8px !important;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  width: 100%;
  margin-top: 25px;
}

footer {
  text-align: center;
}

.logoImage {
  margin: 20px;
}

.navBox {
  background-color: #f0f0f0;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.navBox:hover {
  background-color: #b3b3b3;
}

.navBox1 {
  background-color: #3766e8;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.navBoxContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formContainer {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  }
}
